.doc{
	position:relative;
	height: 1200px;
	background-color: #403767;
}

.container{
	width: 1200px;
	position: relative;
	margin: 0 auto;
	padding: 100px 20px 100px 180px;
}

.container>div{
	float: left;
	margin-right: 180px;
	margin-bottom: 100px;
	width: 50px;
	height: 50px;
	position: relative;

}

.demo-wrap{
	float: 
	display: flex;
	content-justify:center;
}

.demo1{
	background-color: #EAF1A2;
	-webkit-animation:'aniOne' 4s ease-in-out 0.2s infinite;
}

.demo2{
	background-color: #EAF1A2;
	border-radius: 50px;
	-webkit-animation:'aniTwo' 1s linear 0.2s infinite;
}

.demo3{
	border-radius: 50px;
	background-color: none;
	border: 2px solid #EAF1A2;
	-webkit-animation:'aniTwo' 1s linear 0.2s infinite;
}

.demo4{
	border-radius: 100%;
	background-image: linear-gradient(transparent 0%, transparent 70%, #EAF1A2 30%, #EAF1A2 100%); 
	-webkit-animation:'aniFour' 0.8s linear 0.2s infinite;
}

.demo5{
	position: relative;
	top: 10px;
	left: 10px;
	width: 30px !important;
	height: 30px !important;
	border-radius: 100%;
	border: 2px solid #EAF1A2;
	border-bottom-color: transparent;
	/*background-image: linear-gradient(transparent 0%, transparent 70%, #EAF1A2 30%, #EAF1A2 100%); */
	-webkit-animation:'aniFive' 0.8s linear 0.2s infinite;
}

.demo6{
	width: 50px;
	height: 50px;
	position: relative;
	display: flex;
	justify-content:center;
	align-items: center;
}

.demo6-x{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content:center;
	align-items: center;
	border-radius: 100%;
	border: 2px solid #EAF1A2;
	border-top-color:transparent;
	border-bottom-color:transparent;
	-webkit-animation:'aniSix-x' 1s ease-in-out 0.2s infinite;
}

.demo6-y{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #EAF1A2;
	-webkit-animation:'aniSix-y' 1s ease-in-out 0.2s infinite;
}

.demo7{
	width: 120px !important;
	height: 120px !important;
	position: relative;
	display: flex;
	align-items:center;

}

.demo7-x,.demo7-y,.demo7-z{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	float: left;
	background-color: #EAF1A2;
	margin-right: 15px;
}

.demo7-x{
	-webkit-animation:'aniSeven-x' 1s ease 0s infinite;
}

.demo7-y{
	-webkit-animation:'aniSeven-x' 1s ease-in-out 0.1s infinite;
}

.demo7-z{
	-webkit-animation:'aniSeven-x' 1s linear 0.2s infinite;
}

.demo8{
	display: flex;
	align-items:center;
	justify-content:center;
}

.demo8-x{
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: #EAF1A2;
	-webkit-animation:'aniTwo' 1s ease 0s infinite;
}

.demo8-y{
	position: absolute;
	top: 2px;
	left: 2px;
	width: 46px;
	height: 46px;
	border-radius: 100%;
	background-color: #EAF1A2;
	-webkit-animation:'aniTwo' 1s ease 0.2s infinite;
}
.demo8-z{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #EAF1A2;
	-webkit-animation:'aniTwo' 1s ease 0.3s infinite;
}
.demo8-m{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: #EAF1A2;
	-webkit-animation:'aniTwo' 1s ease 0.4s infinite;
}

.demo9{
	width: 120px !important;
	height: 120px !important;
}

.demo9-x,.demo9-y,.demo9-z{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 2px solid #EAF1A2;
}

.demo9-x{
	top: 30px;
	left: 50px;
	-webkit-animation:'aniNine-x' 2s ease 0s infinite;
}

.demo9-y{
	top: 80px;
	left: 20px;
	-webkit-animation:'aniNine-y' 2s ease 0s infinite;
}

.demo9-z{
	top: 80px;
	left: 80px;
	-webkit-animation:'aniNine-z' 2s ease 0s infinite;
}

.demo10{
	width: 90px !important;
	height: 90px !important;
	padding-top: 20px;
}

.demo10>div{
	width: 20px;
	height: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 100%;
	background-color: #EAF1A2;
	float: left;
}

.demo10-a,.demo10-f,.demo10-h{
	-webkit-animation:'aniTen-e' 1s linear 0s infinite;
}

.demo10-b,.demo10-d,.demo10-i{
	-webkit-animation:'aniTen-e' 1s linear 0.15s infinite;
}

.demo10-c,.demo10-e,.demo10-g{
	-webkit-animation:'aniTen-e' 1s linear 0.3s infinite;
}

.demo11{
	width: 120px !important;
	height: 120px !important;
}

.demo11-x{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 20px;
	height: 20px;
	background-color: #EAF1A2;
	-webkit-animation:'aniEleven-x' 2s ease-in-out 0s infinite;
}

.demo11-y{
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 20px;
	height: 20px;
	background-color: #EAF1A2;
	-webkit-animation:'aniEleven-y' 2s ease-in-out 0s infinite;
}

.demo12{
	width: 200px !important;
	height: 120px;
	-webkit-animation:'flip' 2s ease 12s ;
}

.demo12-x{
	position: absolute;
	top: 80px;
	left: 20px;
	width: 50px;
	height: 50px;
	border: 3px solid #EAF1A2;
	border-radius: 100%;
	border-right-color:transparent;
	-webkit-animation:'aniTwe-x' 4s ease-in 0s ;
}

.demo12-y{
	position: absolute;
	top: 105px;
	left: 70px;
	width: 25px;
	height: 25px;
	border: 3px solid #EAF1A2;
	border-radius: 100%;
	-webkit-animation:'aniTwe-y' 8s ease-in 0s ;
}

.demo12-z{
	position: absolute;
	top: 105px;
	left: 100px;
	width: 25px;
	height: 25px;
	border: 3px solid #EAF1A2;
	border-radius: 100%;
	border-right-color:transparent;
	-webkit-animation:'aniTwe-z' 8s ease-in 0 ;
}

.demo12-m{
	position: absolute;
	top: 105px;
	left: 130px;
	width: 25px;
	height: 25px;
	border: 3px solid #EAF1A2;
	border-radius: 100%;
	-webkit-animation:'aniTwe-m' 12s ease-in 0s ;
}

@-webkit-keyframes aniOne{
	0%{
		transform:rotateX(0deg);
	}
	20%{
		transform:rotateX(180deg);
	}
	40%{
		transform:rotateZ(180deg);
	}
	60%{
		transform:rotateY(180deg);
	}
	80%{
		transform:rotateX(180deg);
	}
	100%{
		transform:rotateZ(180deg);
	}
}

@-webkit-keyframes aniTwo{
	0%{
		transform:scale(0.1);
		opacity: 1;
		
	}
	100%{
		transform:scale(1.2);
		opacity: 0.2;
	}
}

@-webkit-keyframes aniFour{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

@-webkit-keyframes aniFive{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

@-webkit-keyframes aniSix-x{
	0%{
		transform:rotate(0deg);
	}
	50%{
		transform:rotate(180deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

@-webkit-keyframes aniSix-y{
	0%{
		transform:scale(0.1);
	}
	50%{
		transform:scale(1);
	}
	100%{
		transform:scale(0.1);
	}
}

@-webkit-keyframes aniSeven-x{
	0%{
		transform:translate(0,0);
	}
	50%{
		transform:translate(0,-50px);
	}
	100%{
		transform:translate(0,0);
	}
}

@-webkit-keyframes aniSeven-y{
	0%{
		transform:translate(0,0);
	}
	50%{
		transform:translate(0,-50px);
	}
	100%{
		transform:translate(0,0);
	}
}

@-webkit-keyframes aniSeven-z{
	0%{
		transform:translate(0,0);
	}
	50%{
		transform:translate(0,-50px);
	}
	100%{
		transform:translate(0,0);
	}
}

@-webkit-keyframes aniNine-x{
	0%{
		transform:translate(0,0);
	}
	33%{
		transform:translate(30px,50px);
	}
	66%{
		transform:translate(-30px,50px);
	}
	100%{
		transform:translate(0,0);
	}
}

@-webkit-keyframes aniNine-y{
	0%{
		transform:translate(0,0);
	}
	33%{
		transform:translate(30px,-50px);
	}
	66%{
		transform:translate(60px,0);
	}
	100%{
		transform:translate(0,0);
	}
}

@-webkit-keyframes aniNine-z{
	0%{
		transform:translate(0,0);
	}
	33%{
		transform:translate(-60px,0);
	}
	66%{
		transform:translate(-30px,-50px);
	}
	100%{
		transform:translate(0,0);
	}
}

@-webkit-keyframes aniTen-e {
	0%{
		opacity: 0.01;
		transform:scale(1.2);
	}
	100%{
		opacity: 1;
		transform:scale(0.5);
	}
}

@-webkit-keyframes aniEleven-x{
	0%{
		transform:rotate(0) scale(1) translate(0,0);
		border-radius: 1%;
	}
	25%{
		transform:translate(60px,0) scale(0.5) rotate(90deg);
		border-radius: 100%;
	}
	50%{
		transform:translate(60px,60px) scale(1) rotate(180deg);
		border-radius: 1%;
	}
	75%{
		transform:translate(0,60px) scale(0.5) rotate(270deg);
		border-radius: 100%;
	}
	100%{
		transform:translate(0,0) scale(1) rotate(360deg);
		border-radius: 1%;
	}
}

@-webkit-keyframes aniEleven-y{
	0%{
		transform:rotate(0) scale(1) translate(0,0);
		border-radius: 100%;
	}
	25%{
		transform:translate(-60px,0) scale(0.5) rotate(90deg);
		border-radius: 1%;
	}
	50%{
		transform:translate(-60px,-60px) scale(1) rotate(180deg);
		border-radius: 100%;
		
	}
	75%{
		transform:translate(0,-60px) scale(0.5) rotate(270deg);
		border-radius: 1%;
	}
	100%{
		transform:translate(0,0) scale(1) rotate(360deg);
		border-radius: 100%;

	}
}

@-webkit-keyframes aniTwe-x{
	0%{
		transform: translate(0,-60px) scale(0.5);
	}
	20%{
		transform: translate(0,0) scale(0.8);
	}
	31%{
		transform: translate(0,-30px) scale(0.65);
	}
	40%{
		transform: translate(0,0) scale(1);
	}
	50%{
		transform: translate(0,0) scale(1);
	}
	65%{
		transform: translate(0,0) scale(1) rotate(360deg);
	}
	80%{
		transform: translate(0,0) scale(1) rotate(360deg);
	}
	100%{
		transform: translate(0,0) scale(1) rotate(-720deg);
	}
}

@-webkit-keyframes aniTwe-y{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
		transform: translate(-40px,-90px);
	}
	51%{
		opacity: 1;
		transform: translate(-40px,-90px);
	}
	56%{
		opacity: 1;
		transform: translate(-40px,-48px);
	}
	60%{
		transform: translate(-10px,-70px);
	}
	61%{
		transform: translate(-10px,-70px);
	}
	70%{
		transform: translate(0,0);
	}
} 

@-webkit-keyframes aniTwe-z{
	0%{
		transform: translate(-30px,0);
		opacity: 0;
	}
	70%{
		transform: translate(-30px,0);
		opacity: 0;
	}
	71%{
		opacity: 1;
	}
	85%{
		transform: translate(0,0);
	}
	100%{
		transform: translate(0,0) rotateY(360deg);
	}
}

@-webkit-keyframes aniTwe-m{
	0%{
		opacity: 0;
	}
	66%{
		opacity: 0;
	}
	67%{
		opacity: 1;
		border-radius: 1%;
		transform: translate(-100px,-90px);
	}
	73%{
		border-radius: 10%;
		transform: translate(-100px,-48px) rotate(0deg);
	}
	78%{
		border-radius: 20%;
		transform: translate(-70px,-65px) rotate(90deg);
	}
	83%{
		border-radius: 30%;
		transform: translate(-60px,-25px) rotate(180deg);
	}
	87%{
		border-radius: 35%;
		transform: translate(-42px,-32px) rotate(270deg);
	}
	91%{
		border-radius: 40%;
		transform: translate(-35px,-25px) rotate(360deg);
	}
	95%{
		border-radius: 50%;
		transform: translate(-15px,-28px) rotate(450deg);
	}
	100%{
		border-radius: 100%;
		transform: translate(0,0) rotate(540deg);
	}

}

@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes rollOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}